<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>情報処理ⅡAオンラインジャッジシステム</title>
    <style type="text/css">
      body {
        margin: 0 auto;
        width: 1500px;
      }
      div {
        margin: 0 auto;
      }
      .header {
        text-align: center;
        background-color: #bdf7f1;
        height: 50px;
        width: 1500px;
        font-size: 40px;
      }
      .header-logo {
        text-align: center;
      }
      .explain {
        margin: 0 auto;
        width: 900px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">情報処理ⅡAオンラインジャッジシステム</div>
    </div>

    <div class="explain">
      <h1>オンライジャッジシステムとは？</h1>
      <p>
        オンライジャッジシステムとは、提出されたプログラムを自動採点してくれるシステムのことです。
        <br />
        このシステムでは、プログラミングの基礎を学ぶための問題が用意されています。
        <br />
        試行錯誤を繰り返し、時には誤ったプログラムを書いてしまうこともあるかもしれませんが、
        <br />
        ペナルティはありません。
        <br />
        Accepted(正解という意味)が出るまで、何度でも提出してください。
        <br />
        本オンラインジャッジシステムでは、英字の大小や綴りの間違いが1文字でもあると不正解となります。
        <br />
        (例: "Hello"を出力する問題の場合、"hello"を出力すると不正解。)
      </p>
      <input type="button" onclick="location.href='./choice'" value="問題選択画面へ" />
    </div>
  </body>
</html>
